asgiref
astroid
boto3
botocore
certifi
chardet
Django
django-extensions
django-filter
django-storages
djangorestframework
gunicorn
idna
isort
jmespath
lazy-object-proxy
Markdown
mccabe
mysqlclient
Pillow
pydotplus
PyJWT
pylint
pyparsing
python-dateutil
pytz
requests
s3transfer
six
sqlparse
toml
twilio
urllib3
whitenoise
wrapt